@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

body,
table,
div,
p {
  font-family: ‘Roboto’, ‘Spoqa Han Sans’, ‘Spoqa Han Sans JP’, ‘Sans-serif’;
}

body {
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 70px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.list {
  display: flex;
  margin-bottom: 30px;
}

.photo {
  width: 250px;
  height: 150px;
}

.product {
  margin: 30px;
  border-bottom: solid indigo 5px;
}

.product:hover {
  margin: 30px;
  border-bottom: solid red 5px;
}

.detail {
  display: inline-block;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

.container {
  padding-top: 100px;
  display: inline-block;
  font-size: 30px;
}

.detail_page {
  padding-top: 100px;
  text-align: center;
  align-content: center;
}

.product_img {
  width: 500px;
  height: 300px;
}

.buy {
  background-color: green;
  border-radius: solid green 100px;
  width: 400px;
  height: 100px;
  font-size: 30px;
}

.back {
  background-color: red;
  border-radius: solid green 100px;
  width: 400px;
  height: 100px;
  font-size: 30px;
  margin-right: 20px;
}

.confirm {
  background-color: blueviolet;
  border-radius: solid green 100px;
  width: 400px;
  height: 100px;
  font-size: 30px;
  margin-left: 20px;
}

#count {
  font-size: 100px;
}

ul li {
  list-style: none;
  margin: 100px;
  display: flex;
}

#logout {
  font-size: 30px;
  width: 100px;
  height: 50px;
  text-decoration: underline;
  text-underline-offset: 7 px;
}

#shopping_bag {
  font-size: 30px;
  width: 200px;
  height: 50px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
